
{% extends "root/base.html" %}
{% load crispy_forms_tags %}

{% block title %} İlan Kaydı Oluştur {% endblock %}

{% block content %} 
<h3>İlan Kaydı Oluştur</h3>
{% if user.is_authenticated %}
<!-- 
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="save" class="btn btn-success">Güncelle</button>

    </form>
</div> -->

<form method="post" action="{% url 'my_posts' %}" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        {{ form|crispy }}
        
    </div>
    <div class="input-group-prepend">
        <button type="submit" name="save" class="btn btn-success">Güncelle</button>
    </div>
</form>
{% else %}
  <p>Giriş Yapmamışsınız</p>
  <a href="{% url 'login' %}">Giriş Yapın</a>
{% endif %}

{% endblock %}