{% extends "root/base.html" %}

{% block title %} Yeni Bir İtem Kaydı Oluştur {% endblock %}

{% block content %} 
{% if user.is_authenticated %}



<h3>İtem Kaydı Oluştur</h3>
<form method="post" action="/create/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        {{ form.name }}
       
        <div class="input-group-prepend">
            <button type="submit" name="save" class="btn btn-success">Oluştur</button>
        </div>
    </div>
</form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


{% endblock %}